* { box-sizing: border-box; }

body { background-color: #E8CEBF;
      color: #666666;
	  font-family: Verdana, Arial, sans-serif;
}

header { background-color: #266150;
         color: #FFFFFF;
		 font-family: Georgia, serif; 
}
h1 { line-height: 200%;
     padding-left: 1em;
     height: 72px;
	 margin-bottom: 0;
	 color:#266150;
	 text-align:center;
}
h3
{
color:#266150;
}
#cart
{
float:right;
}
li
{
list-style-type:none;
}
ul{
text-align:center;
}
img
{
height:200px;
width:200px;
}
p
{
text-align:center;
}
nav { 
   list-style-type:none;
   font-weight: bold;
   padding-bottom: .5em;
   padding-top: .5em;
   padding-right: .5em;
   padding-left: 2em;
}

nav a { text-decoration: none; }
nav a:link { color: #266150; }
nav a:visited { color: #C2E0F0; }
nav a:hover { color: #CCCCCC; }
dt { color: #000033; 
   font-weight: bold; 
}
footer { font-size: .70em;
         font-style: italic;
		 text-align: center; 
		 padding: 1em;
		 background-color: #FFFFFF;
		 margin-left: 170px;
}
main { padding-left: 2em;
      padding-right: 2em;
	  padding-bottom: 1px;
	  padding-top: 1em;
	  background-color: #FFFFFF;
	  margin-left: 170px;
	  display: block;
}


#wrapper { width: 80%;
          margin-left: auto;
		  margin-right: auto;
		  min-width: 700px;
		  max-width: 1024px;
		  display:inline-block;
}
table {
Width: 90%;
margin:auto;
border: 1px solid #3399CC;
border-collapse:collapse;
}
.text{
text-align:left;
}
tr:nth-of-type(even){
background-color:#F5FAFC;
}
td {
padding:5px;
border:1px solid #3399CC;
text-align:center;
}
th {
padding:5px;
border:1px solid #3399CC;
}
label {
float:left;
display:block;
width:8em;
padding-right:1em;
}
input, textarea {
display:block;
margin-bottom:1em;
}
#mysubmit {
margin-left:10em;
}
#mobile {display: none;}
#desktop {display: inline;}
header, nav, main, footer { display: block; }